* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
   
}

h2 {
    color: rgb(201, 201, 201);
}

.container{
    display: flex;
    flex-direction: row;
   

}

.header {
    display: flex;
    height: 80px;
    width: 100%px;
    background-color: blueviolet;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.sidebar {
    display: flex;
    height: 520px;
    width: 200px;
    background-color: rgb(1, 119, 70);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.content {
    display: flex;
    height: 520px;
    width: 100%;
    background-color: rgb(34, 34, 155);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}